<!-- Navigation Bar -->
<div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" style="background-color: #418bd1;">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="materialize-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a style="font-family: 'MiLanting';" routerLink="/landingpage">Home</a></li>
                    <li>
                        <span style="font-family: 'MiLanting';">|</span>
                    </li>
                    <li><a style="font-family: 'MiLanting';" routerLink="/register">Register</a></li>
                    <li>
                        <span style="font-family: 'MiLanting';">|</span>
                    </li>

                    <li><a style="font-family: 'MiLanting';" routerLink="/login">Log In</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a style="font-family: 'Roboto', sans-serif;" href="http://localhost:4200/landingpage">Home</a></li>

            <li><a style="font-family: 'Roboto', sans-serif;" href="http://localhost:4200/register">Register</a></li>

            <li><a style="font-family: 'Roboto', sans-serif;" href="http://localhost:4200/login">Log In</a></li>
        </ul>
    </div>

    <br />
    <br />

    <!-- Sign In Form -->
    <div class="login-div animated zoomIn" style="background-color: white;">
        <div class="row">
            <div class="logo"></div>
        </div>

        <div class="row center-align">
            <h5 class="miLanting">Admin Sign-in</h5>
        </div>

        <form class="col s12" [formGroup]="loginForm" novalidate style="margin-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="input-field miLanting">
                        <input formControlName="username" [(ngModel)]="inputLogid" id="uname" type="text" class="validate" required />
                        <label for="uname">Username</label>
                        <span class="error ion-padding animated shake" style="color: crimson;" *ngIf="isSubmitted && errorControl.username.errors?.required"><b>Username is required.</b></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field miLanting">
                        <input formControlName="password" [(ngModel)]="inputLogpass" id="pword" type="password" class="validate" autocomplete="current-password" required />
                        <label for="pword">Password</label>
                        <span class="error ion-padding animated shake" style="color: crimson; margin-bottom: 10px;" *ngIf="isSubmitted && errorControl.password.errors?.required"><b>Password is required.</b></span>
                    </div>
                </div>
            </div>
        </form>

        <!-- Create account and Sign in button -->
        <div class="row">
            <div class="col s6 miLanting"><a routerLink="/landingpage">Cancel</a></div>
            <div class="col s6 right-align miLanting"><a type="submit" (click)="newLogin();" class="waves-effect waves-light btn-flat blue darken-3 white-text" style="border-radius: 40px;">Sign in</a></div>
        </div>
    </div>
</div>
